body{
	color: blue;
} 

.header{ 

	background-color: steelblue;
	color: #fff ;
	position: static;

	-webkit-print-color-adjust: exact;
}

body{
	padding: 0;
	margin: 0 auto; 

	-webkit-print-color-adjust: exact;
} 

.print-btn{
	display: none;
}

@page{
	/*size: portrait;*/
	/*size: landscape;*/
	/*size: auto;*/ 

	/*size: A4;*/ 
	/*size: legal;*/
	/*size:  A4 landscape;*/
	size: 4in 6in;

	margin: 0; 
}